*{
    box-sizing:border-box;
}
body{
    background:url('pic.jpg');
    background-size:cover;
}
#login-box {
top:50%;
left:50%;
position:absolute;
transform:translate(-50%,-50%);
width: 400px;

font-family:Arial;
background:purple;
border-radius: 2px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
border-radius:20px;
padding:40px;
}
h1 {
margin: 0 0 20px 0;
font-weight: 300;
font-size: 40px;
text-align:center;
color:teal;
}
input[type="text"],
input[type="password"] {
border:0;
 
display: block;
margin: 20px auto;
text-align: center;
border-bottom: 2px solid pink;
padding: 14px 10px;
width: 100%;
font-size:16px;
border-radius:5px;
outline: none;
 
transition: 0.25s;
}

input[type="submit"] {
margin-top: 28px;
width: 130px;
height: 35px;
background: teal;
border: none;
border-radius: 5px;
color: #FFF;
font-size:18px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
text-transform: uppercase;
transition: 0.1s ease;
cursor: pointer;
}